lib-cov
/**/node_modules/
/**/typings/
/**/bower_components/
/**/.idea/
/**/data/
/**/kbd/
/**/target/
/**/.seed
/**/.log
/**/.dat
/**/.out
/**/.pid
/**/.gz
/**/.rar
/**/.zip
/**/kbd.html
/**/kbd.*

/**/pids
/**/logs
/**/results


/**/npm-debug.log
/**/.brackets.json

/**/.metadata/
/**/RemoteSystemsTempFiles/
/**/targets/
/**/.recommenders/
/**/bin/

/**/BaseCodeSlice_MyAssessmentApplication/
/**/App01_Registration/
/**/BaseCodeSlice_MyAssessmentApplication/
/**/MavenDemo/
/**/MyApp/
/**/Spring03_JDBC/
/**/Spring04_Annotations/
/**/Spring05_ApplicationContext/
/**/Spring07_testing/
/**/Spring08_OXM_xml-marshal/
/**/Wipro01_Basic/
/**/SM/
